{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowSSLRequestsOnly",
            "Effect": "Deny",
            "Principal": "*",
            "Action": [
                "s3:*"
            ],
            "Resource": [
                "arn:${partition}:s3:::${bucket}",
                "arn:${partition}:s3:::${bucket}/*"
            ],
            "Condition": {
                "Bool": {
                    "aws:SecureTransport": false
                }
            }
        }%{ if deny_delete },
        {
            "Sid": "DenyPermanentStateDeletion",
            "Effect": "Deny",
            "Principal": "*",
            "Action": [
                "s3:DeleteBucket",
                "s3:DeleteObjectVersion"
            ],
            "Resource": [
                "arn:${partition}:s3:::${bucket}",
                "arn:${partition}:s3:::${bucket}/*"
            ]
        }%{ endif }
    ]
}
